# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/
.env
.env.*
*.sqlite3
device_secret.key

# Flask
*.log
*.pot
*.pyc
*.pyo
*.pyd
venv/
*.egg-info/
dist/
build/
*.egg
.mypy_cache/
.pytest_cache/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
